{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}}
<Script>
    function eliminar(Id,nombre){
    resp=confirm("¿Estas seguro de eliminar el Reporte "+  nombre  +" ?");
        if(resp==true){
        location.href="/Reporte/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Reporte</p></h3>
    <form action="/Reporte/Modificar" method="post" enctype="multipart/form-data">
         <div class="imput-group " style="padding-left: 300pt;">
            <h3>
                    <label class="col-sm-3">ID:</label>
                        <input type="number" name="idReporteAlmacen" readonly value="{{repor.idReporteAlmacen}}" >
                   <br>
                   <br>
                   <label class="col-sm-3">fecha:</label>
                        <input type="date" required  name="fecha"  placeholder="Ingrese fecha de reporte" value="{{repor.fecha}}" maxlength="40">
                   <br>
                   <br>
                   <label class="col-sm-3">Descripción:</label>
                <textarea required  name="descripcion"  placeholder="Ingrese una descripcion" maxlength="10">{{repor.descripcion}}</textarea>
                   <br>
                   <br>
                   <label class="col-sm-3">Movimiento</label>
                        <input type="text" required  name="movimiento"  placeholder="Movimiento" value="{{repor.movimiento}}" maxlength="10">
                   <br>
                   <br>
                  <label class="col-sm-3">Cantidad:</label>
                        <input type="text" name="cantidad" placeholder="Ingrese cantidad"  value="{{repor.cantidad}}" maxlength="15" >
                   <br>
                  <br>
                   <label class="col-sm-3">Almacen:</label>
                        <input type="number" required  name="idAlmacen"  placeholder="Ingrese almacen" value="{{repor.idAlmacen}}" min="1" maxlength="3">
                   <br>
                  <br>
                   <label class="col-sm-3">Producto:</label>
                        <select class="form-select" name="producto">
                            <option value="" selected disabled hidden>{{repor.Producto}}</option>
                            <optgroup label="Macetas">
                                <option value="Octagonal">Octagonal</option>
                                <option value="Hexagonal">Hexagonal</option>
                                <option value="Cuadrada">Cuadrada</option>
                                <option value="Redonda">Redonda</option>
                            </optgroup>
                            <optgroup label="Suculentas" >
                                <option value="Echeveria">Echeveria</option>
                                <option value="Escarcha">Escarcha</option>
                                <option value="Jade">Jade</option>
                                <option value="Perforata">Perforata</option>
                                <option value="Sedum">Sedum</option>
                                <option value="Siempreviva">Siempreviva</option>
                                <option value="OrejasShrek">OrejasShrek</option>
                                <option value="GarritaOso}">GarritaOso</option>
                            </optgroup>
                            <optgroup label="Velas">
                                <option value="Vela c">Vela c</option>
                                <option value="Vela g">Vela g</option>
                            </optgroup>
                        </select>
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">
                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>


                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{repor.idReporteAlmacen}},'{{repor.movimiento}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>

             <a class="btn btn-primary btn-lg" href="/Reporte" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>

     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}