{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

<h3 class="text text-center"><p class="text-success">Reportes</p></h3>
<div class="text text-center">
</div>
    {% if current_user.is_authenticated and current_user.is_administrador() %}
        <a class="btn btn-primary btn-lg" href="/Reporte/nuevo" role="button"><img src="{{url_for('static',filename='imagenes/add.gif')}}">Registrar</a>
    {% endif %}
<h4>
    <table class="table table-dark table-hover table-bordered">
        <thead>
            <th>ID</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Movimiento</th>
            <th>Cantidad</th>
            <th>idAlmacen</th>
            <th>idProducto</th>
            {% if current_user.is_authenticated and current_user.is_administrador() %}
            <th>Modificar</th>
            {% endif %}
        </thead>
        {% for repor in reporte %}
                <tr class="active">
                    <td>{{repor.idReporteAlmacen}}</td>
                    <td>{{repor.fecha}}</td>
                    <td>{{repor.descripcion}}</td>
                    <td>{{repor.movimiento}}</td>
                    <td>{{repor.cantidad}}</td>
                    <td>{{repor.idAlmacen}}</td>
                    <td>{{repor.idProducto}}</td>

                    <td><a href="/Reporte/Ver/{{repor.idReporteAlmacen}}"><img src="{{url_for('static',filename='imagenes/editar.png')}}"> Ver</a></td>
                </tr>
        {% endfor %}

    </table>
</h4>
<a class="btn btn-primary btn-lg" href="/Principal" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
{% endblock %}