* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('../imagenes/fondoLogin.jpg');

}

.form-register {
  width: 400px;
  background: #48B09B;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 40px;
  font-family: 'calibri';
  color: white;
  text-align: center;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #fffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #22489D;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.btn-default{
background-color: #7C8683;
color:#FFF;
border-color: #7C8683;
}
.btn-default2{
background-color: #8869A5;
color:#FFF;
border-color: #8869A5;
text-align: center;
font-size: 15pt;
width: 200px;
height: 45px;
}

.btn-default2:hover {
   color: #FFF;
   background-color: #755A8F;
}