{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

<h3 class="text text-center"><p class="text-success">Almacen</p></h3>
<div class="text text-center">
</div>

        <a class="btn btn-primary btn-lg" href="/Almacen/nuevo" role="button"><img src="{{url_for('static',filename='imagenes/add.gif')}}">Registrar</a>
        <a style="float: right;" class="btn btn-default2" href="/Reporte" role="button"><span class="glyphicon glyphicon-folder-open"></span> Reportes</a>


<h4>
    <table class="table table-dark table-hover table-bordered">
        <thead>
            <th>ID</th>
            <th>Cantidad </th>
            <th>Categoría</th>
            <th>Estante</th>
        </thead>
        {% for alma in almacen%}
                <tr class="active">
                    <td>{{alma.idAlmacen}}</td>
                    <td>{{alma.cantProducto}}</td>
                    <td>{{alma.Categoria}}</td>
                    <td>{{alma.Estante}}</td>
                    {%if current_user.is_authenticated and current_user.is_administrador() and current_user.is_almacenista%}
                    <td><a href="/Almacen/Ver/{{alma.idAlmacen}}"><img src="{{url_for('static',filename='imagenes/editar.png')}}"> Ver</a></td>
                    {% endif %}
                </tr>
             {% endfor %}

    </table>
</h4>
<a class="btn btn-primary btn-lg" href="/Principal" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
<a style="float: right;" class="btn btn-default2" href="/Estante" role="button"><span class="glyphicon glyphicon-th-large"></span> Estante</a>

{% endblock %}