{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombre){
    resp=confirm("¿Estas seguro de eliminar el Almacen "+  nombre  +" ?");
        if(resp==true){
        location.href="/Almacen/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Almacen</p></h3>
    <form action="/Almacen/Modificar" method="post" enctype="multipart/form-data">
         <div class="imput-group " style="padding-left: 260pt;">
              <h3>
                    <label class="col-sm-4">Id Almacen:</label>
                        <input type="number" name="idAlmacen" readonly value="{{alma.idAlmacen}}" >
                   <br>
                   <br>
                   <label class="col-sm-4">Cantidad de Producto:</label>
                        <input type="text" required  name="cantProducto"  placeholder="Ingrese cantidad" value="{{alma.cantProducto}}" maxlength="3">
                   <br>
                   <br>
                   <label class="col-sm-4">Categoria:</label>
                        <select class="form-select" name="categoria" >
                            <option value="" selected disabled hidden>{{alma.Categoria}}</option>
                            <option value="Macetas">Macetas</option>
                            <option value="Suculentas">Suculentas</option>
                            <option value="Velas">Velas</option>
                        </select>
                   <br>
                   <br>
                  <label class="col-sm-4">Estante:</label>
                        <select class="form-select" name="estante" >
                            <option value="" selected disabled hidden>{{alma.Estante}}</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">
                <button type="submit" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-edit"></span> Modificar</button>


                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{alma.idAlmacen}},'{{alma.cantProducto}}')" role="button"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>

             <a class="btn btn-primary btn-lg" href="/Almacen" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}
