{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombre){
    resp=confirm("¿Estas seguro de eliminar el Almacen "+  nombre  +" ?");
        if(resp==true){
        location.href="/Almacen/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Almacen</p></h3>
    <form action="/Almacen/Modificar" method="post" enctype="multipart/form-data">
         <div class="text text-center">
              <h3>
                    <label>Id Almacen:</label>
                        <input type="number" name="idAlmacen" readonly value="{{alma.idAlmacen}}" >
                   <br>
                   <label>Cantidad de Producto:</label>
                        <input type="text" required  name="cantProducto"  placeholder="Ingrese cantidad" value="{{alma.cantProducto}}" maxlength="3">
                   <br>
                   <label>Producto:</label>
                        <input type="text" required  name="idProducto"  placeholder="Ingrese producto" value="{{alma.idProducto}}" maxlength="30">
                   <br>
                   <label>Estante:</label>
                        <input type="text" required  name="idEstante"  placeholder="Ingrese estante" value="{{alma.idEstante}}" maxlength="30">
                   <br>
              </h3>

                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>


                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{alma.idAlmacen}},'{{alma.cantProducto}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>

             <a class="btn btn-primary btn-lg" href="/Almacen" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}
