{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

     <h3 class="text text-center"><p class="text-success">Registrar Estante</p> </h3>
    <form action="/Estante/nuevo" method="post" enctype="multipart/form-data">
        <div class="text text-center">
              <h3>

                 <label>Nombre:</label>
                  <input type="text" required  name="nombre" placeholder="Ingrese Nombre" maxlength="3">
                <br>
                  <label>Ubicación:</label>
                  <input type="text" required  name="ubicacion" placeholder="Ingrese ubicacion del Estante" maxlength="30">
                <br>

              </h3>
              <button type="submit" class="btn btn-primary btn-lg" role="button" ><img src="{{url_for('static',filename='imagenes/save.png')}}"> Guardar</button>
              <a class="btn btn-primary btn-lg" href="/Estante" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
        </div>



    </form>
    {% if get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
       </div>

    {% endif %}
{% endblock %}