{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombreCompleto){
    resp=confirm("¿Estas seguro de eliminar el Usuario "+  nombreCompleto  +" ?");
        if(resp==true){
        location.href="/Usuario/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Usuario</p></h3>
    <form action="/Usuario/Modificar" method="post" enctype="multipart/form-data">
         <div class="text text-center">
              <h3>
                    <label>Id Usuario:</label>
                        <input type="number" name="idUsuario" readonly value="{{user.idUsuario}}" >
                   <br>
                   <label>Nombre Completo:</label>
                        <input type="text" required  name="nombreCompleto"  placeholder="Ingrese nombre completo" value="{{user.nombreCompleto}}" maxlength="40">
                   <br>
                   <label>Nombre Usuario:</label>
                        <input type="text" required  name="nombreUsuario"  placeholder="Ingrese nombre de usuario" value="{{user.nombreUsuario}}" maxlength="10">
                   <br>
                   <label>Contraseña</label>
                        <input type="text" required  name="contraseña"  placeholder="Ingrese contraseña" value="{{user.contraseña}}" maxlength="10">
                   <br>
                  <label>Tipo Usuario:</label>
                        <input type="text" name="tipoUsuario" placeholder="Ingrese Tipo de Usuario"  value="{{user.tipoUsuario}}" maxlength="15" >
                   <br>
                  <br>
                   <label>Estatus</label>
                        <input type="text" required  name="estatus"  placeholder="Ingrese estatus" value="{{user.estatus}}" maxlength="1">
                   <br>

              </h3>

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>
                {% endif %}


                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{user.idUsuario}},'{{user.nombreCompleto}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>
                {% endif %}

             <a class="btn btn-primary btn-lg" href="/Usuario" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}
