{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombreCompleto){
    resp=confirm("¿Estas seguro de eliminar el Usuario "+  nombreCompleto  +" ?");
        if(resp==true){
        location.href="/Usuario/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Usuario</p></h3>
    <form action="/Usuario/Modificar" method="post" enctype="multipart/form-data">
         <div class="imput-group " style="padding-left: 260pt;">
              <h3>
                        <label  class="col-sm-4">ID:</label>
                        <input type="number" name="idUsuario" readonly value="{{user.idUsuario}}" >
                   <br>
                   <br>
                        <label class="col-sm-4">Nombre Completo:</label>
                        <input type="text" required  name="nombreCompleto"  placeholder="Ingrese nombre completo" value="{{user.nombreCompleto}}" maxlength="40">
                   <br>
                   <br>
                        <label class="col-sm-4">Nombre Usuario:</label>
                        <input type="text" required  name="nombreUsuario"  placeholder="Ingrese nombre de usuario" value="{{user.nombreUsuario}}" maxlength="10">
                   <br>
                   <br>
                        <label class="col-sm-4">Contraseña</label>
                        <input type="text" required  name="contraseña"  placeholder="Ingrese contraseña" value="{{user.contraseña}}" maxlength="10">
                   <br>
                   <br>
                    {%if current_user.is_authenticated and current_user.is_administrador()%}
                        <label class="col-sm-4">Tipo Usuario:</label>
                        <select class="form-select" name="tipoUsuario">
                            <option selected>Tipo Usuario</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Vendedor" >Vendedor</option>
                            <option value="Almacenista" >Almacenista</option>
                        </select>
                   <br>
                   <br>
                         <label class="col-sm-4">Estatus:</label>
                         {% if current_user.estatus=='A' %}
                      <input type="radio" name="estatus" checked value="A">Activo
                      <input type="radio" name="estatus" value="I">Inactivo
                         {% else %}
                         <input type="radio" name="estatus" value="A">Activo
                          <input type="radio" name="estatus" checked value="I">Inactivo
                         {% endif %}
                    {% endif %}
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">
                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>
                {% endif %}


                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{user.idUsuario}},'{{user.nombreCompleto}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>
                {% endif %}

             <a class="btn btn-primary btn-lg" href="/Usuario/1" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}
