{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

     <h3 class="text text-center"><p class="text-success">Registrar Usuario</p> </h3>
    <form action="/Usuario/nuevo" method="post" enctype="multipart/form-data">
        <div class="imput-group " style="padding-left: 260pt;">
              <h3>

                 <label class="col-sm-4">Nombre Completo:</label>
                  <input type="text" required  name="nombreCompleto" placeholder="Ingrese Nombre Completo" maxlength="40">
                <br>
                <br>
                  <label class="col-sm-4">Nombre Usuario:</label>
                  <input type="text" required  name="nombreUsuario" placeholder="Ingrese Nombre Usuario" maxlength="10">
                <br>
                <br>
                  <label class="col-sm-4">Contraseña:</label>
                  <input type="text" required  name="contraseña" placeholder="Ingrese Contraseña" maxlength="10">
                <br>
                <br>
                  {%if current_user.is_authenticated and current_user.is_administrador()%}
                        <label class="col-sm-4">Tipo Usuario:</label>
                        <select class="form-select" name="tipoUsuario" required>
                            <option selected>Tipo Usuario</option>
                            <option>Administrador</option>
                            <option>Vendedor</option>
                            <option>Almacenista</option>
                        </select>
                   <br>
                   <br>
                        <label class="col-sm-4">Estatus</label>
                        <select class="form-select" name="estatus" required>
                            <option selected>Estatus</option>
                            <option>A</option>
                            <option>I</option>
                        </select>
                        <label>A(Activo) I(Inactivo)</label>
                    {% endif %}
                 <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">
                {%if current_user.is_authenticated and current_user.is_administrador()%}
              <button type="submit" class="btn btn-primary btn-lg" role="button" ><img src="{{url_for('static',filename='imagenes/save.png')}}"> Guardar</button>
                {% endif %}
            <a class="btn btn-primary btn-lg" href="/Usuario/1" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
        </div>



    </form>
    {% if get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
       </div>

    {% endif %}
{% endblock %}
