
{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

<h3 class="text text-center"><p class="text-success">Productos</p></h3>
<div class="text text-center">
</div>

        {%if current_user.is_authenticated and current_user.is_administrador()%}
        <a class="btn btn-primary btn-lg" href="/Productos/Registrar" role="button"><img src="{{url_for('static',filename='imagenes/add.gif')}}">Registrar</a>
        {% endif %}


<h4>
    <table class="table table-dark table-hover table-bordered">
        <thead>
            <th>Id Producto</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cateoria</th>
            {%if current_user.is_authenticated and current_user.is_administrador()%}
            <th>editar</th>
            {% endif %}

        </thead>
        {% for produc in productos%}
                <tr class="active">
                    <td>{{produc.idProducto}}</td>
                    <td>{{produc.nombre}}</td>
                    <td>{{produc.descripcion}}</td>
                    <td>{{produc.precio}}</td>
                    <td>{{produc.Categoria}}</td>

                    {%if current_user.is_authenticated and current_user.is_administrador()%}
                    <td><a href="/Productos/Ver/{{produc.idProducto}}"><img src="{{url_for('static',filename='imagenes/editar.png')}}"> Ver</a></td>
                    {% endif %}
                </tr>
             {% endfor %}

    </table>

</h4>
<a class="btn btn-primary btn-lg" href="/Categorias" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
{% endblock %}
