{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombre){
    resp=confirm("¿Estas seguro de eliminar el producto "+  nombre  +" ?");
        if(resp==true){
        location.href="/productos/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Producto</p></h3>
    <form action="/Productos/Modificar" method="post" enctype="multipart/form-data">
          <div class="imput-group " style="padding-left: 290pt;">
              <h3>
                    <label class="col-sm-3">Id Producto:</label>
                        <input type="number" name="idProducto" readonly value="{{produc.idProducto}}" >
                   <br>
                   <br>
                   <label class="col-sm-3">Nombre:</label>
                        <input type="text" required  name="nombre"  placeholder="Ingrese nombre del producto" value="{{produc.nombre}}" maxlength="20">
                   <br>
                   <br>
                   <label class="col-sm-3">Descripción:</label>
                        <input type="text" required  name="descripcion"  placeholder="Descripción" value="{{produc.descripcion}}" maxlength="50">
                   <br>
                   <br>
                   <label class="col-sm-3">Precio</label>
                        <input type="text" required  name="precio"  placeholder="Precio" value="{{produc.precio}}" >
                   <br>
                   <br>
                        <label class="col-sm-3">Categoria:</label>
                        <select class="form-select" name="categoria" >
                            <option value="" selected disabled hidden>{{produc.Categoria}}</option>
                            <option value="Macetas">Macetas</option>
                            <option value="Suculentas">Suculentas</option>
                            <option value="Velas">Velas</option>
                        </select>
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">
                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>
                {% endif %}

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{produc.idProducto}},'{{produc.nombre}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>
                {% endif %}

             <a class="btn btn-primary btn-lg" href="/Productos/1" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}