{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

     <h3 class="text text-center"><p class="text-success">Registrar Productos</p> </h3>
    <form action="/Productos/nuevo" method="post" enctype="multipart/form-data">
        <div class="imput-group " style="padding-left: 290pt;">
              <h3>

                 <label class="col-sm-3">Producto:</label>
                        <input type="number" name="idProducto" placeholder="Ingrese id del producto" >
                   <br>
                   <br>
                   <label class="col-sm-3">Nombre:</label>
                        <input type="text" required  name="nombre"  placeholder="Ingrese nombre del producto"  maxlength="20">
                   <br>
                   <br>
                   <label class="col-sm-3">Descripción:</label>
                        <input type="text" required  name="descripcion"  placeholder="Ingrese una descripción"  maxlength="50">
                   <br>
                   <br>
                   <label class="col-sm-3">Precio</label>
                        <input type="text" required  name="precio"  placeholder="Ingrese precio" >
                   <br>
                   <br>
                  <label class="col-sm-3">Categoria:</label>
                        <select class="form-select" name="categoria" required>
                            <option selected disabled hidden>Categoria</option>
                            <option>Macetas</option>
                            <option>Suculentas</option>
                            <option>Velas</option>
                        </select>
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="submit" class="btn btn-primary btn-lg" role="button" ><img src="{{url_for('static',filename='imagenes/save.png')}}"> Guardar</button>
                {% endif %}
              <a class="btn btn-primary btn-lg" href="/Productos" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
        </div>



    </form>
    {% if get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
       </div>

    {% endif %}
{% endblock %}