{% extends "comunes/base.html" %}
{% block navbar %}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}

<h3 class="text text-center"><p class="text-success">Tipos de Pago</p></h3>
<div class="text text-center">
</div>

        {%if current_user.is_authenticated and current_user.is_administrador()%}
        <a class="btn btn-primary btn-lg" href="/TipoPago/Registrar" role="button"><img src="{{url_for('static',filename='imagenes/add.gif')}}">Registrar</a>
        {% endif %}

<h4>
    <table class="table table-dark table-hover table-bordered">
        <thead>
            <th>Id Tipo Pago</th>
            <th>Tipo</th>
            {%if current_user.is_authenticated and current_user.is_administrador()%}
            <th>Modificar</th>
            {% endif %}
        </thead>
        {% for tipopa in tipopago%}
                <tr class="active">
                    <td>{{tipopa.idTipoPago}}</td>
                    <td>{{tipopa.tipo}}</td>

                    {%if current_user.is_authenticated and current_user.is_administrador()%}
                    <td><a href="/TipoPago/Ver/{{tipopa.idTipoPago}}"><img src="{{url_for('static',filename='imagenes/editar.png')}}"> Ver</a></td>
                    {% endif %}
                </tr>
             {% endfor %}

    </table>
</h4>
<a class="btn btn-primary btn-lg" href="/Principal" role="button">Regresar</a>
{% endblock %}