{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombre){
    resp=confirm("¿Estas seguro de eliminar el Transporte "+  nombre  +" ?");
        if(resp==true){
        location.href="/Transportes/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Transporte</p></h3>
    <form action="/Transportes/Modificar" method="post" enctype="multipart/form-data">
         <div class="imput-group " style="padding-left: 290pt;">
              <h3>
                    <label class="col-sm-3">Id Transporte:</label>
                        <input type="number" name="idTransportes" readonly value="{{trans.idTransportes}}" >
                   <br>

                   <br>
                   <label class="col-sm-3">Nombre:</label>
                        <input type="text" name="nombre"  placeholder="Ingrese nombre" value="{{trans.nombre}}" maxlength="20">
                   <br>
                   <br>
                   <label class="col-sm-3">Telefono:</label>
                        <input type="text" name="telefono"  placeholder="Ingrese el Telefono" value="{{trans.telefono}}" maxlength="10">
                   <br>
                   <br>
                  {%if current_user.is_authenticated and current_user.is_administrador()%}
                   <label class="col-sm-3"> Estatus:</label>
                        <label class="radio-inline">
                        <input type="radio" name="estatus" value="A" checked>Activo
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="estatus" value="I">Inactivo
                        </label>
                  {% endif %}
                    <br>
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>
                {% endif %}

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{trans.idTransportes}},'{{trans.nombre}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>
                {% endif %}

             <a class="btn btn-primary btn-lg" href="/Transportes" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}
