{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombre){
    resp=confirm("¿Estas seguro de eliminar la Categoria "+  nombre  +" ?");
        if(resp==true){
        location.href="/Categorias/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Categorias</p></h3>
    <form action="/Categorias/Modificar" method="post" enctype="multipart/form-data">
         <div class="imput-group " style="padding-left: 290pt;">
              <h3>
                    <label class="col-sm-3">Id Categorias:</label>
                        <input type="number" name="idCategorias" readonly value="{{cate.idCategorias}}" >
                   <br>

                   <br>
                   <label class="col-sm-3">Nombre:</label>
                        <input type="text" required  name="nombre"  placeholder="Ingresa nombre de la categoria" value="{{cate.nombre}}" maxlength="20">
                   <br>
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>
                {% endif %}

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{cate.idCategorias}},'{{cate.nombre}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>
                {% endif %}

             <a class="btn btn-primary btn-lg" href="/Categorias" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}
