{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,nombre){
    resp=confirm("¿Estas seguro de eliminar el Estante "+  nombre  +" ?");
        if(resp==true){
        location.href="/Estante/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar Estante</p></h3>
    <form action="/Estante/Modificar" method="post" enctype="multipart/form-data">
         <div class="text text-center">
              <h3>
                    <label>Id Estante:</label>
                        <input type="number" name="idEstante" readonly value="{{estant.idEstante}}" >
                   <br>
                   <label>Nombre:</label>
                        <input type="text" required  name="nombre"  placeholder="Ingrese nombre" value="{{estant.nombre}}" maxlength="3">
                   <br>
                   <label>Ubicación:</label>
                        <input type="text" required  name="ubicacion"  placeholder="Ingrese ubicacion del Estante" value="{{estant.ubicacion}}" maxlength="30">
                   <br>
              </h3>

                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>


                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{estant.idEstante}},'{{estant.nombre}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>

             <a class="btn btn-primary btn-lg" href="/Estante" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}
