h1{
    color:black;
    font-size:36px;
    font-weight: bold;
}
h2{
    color:black;
    font-size:25px;
    font-weight: bold;
}h3{
    color:black;
    font-size:20px;
    font-weight: bold;
}

.tituloHeader{
    color:white;
    font-size:46px;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#h1{
    color:green;
    font-size:15px;
    font-weight:bold;
}
.linkButton{
    background:red;
    border:2px solid black;
    text-decoration:none;
}

header{
    background: #5c397d;
    background-image: url('../img/LogMin.png');
    background-size: contain;
    background-repeat:no-repeat;
    height: 100%;
    margin: 0%;
    padding-top:1%;
    padding-bottom: 1%;
    padding-left: 30%;
}
nav{
    margin-top:0%;
     background-color:#8869a5;
}
body{
    background-color:#FFFFFF;
    /*background-image: url('../img/Fondo.jpg');*/
    background-size: cover;
    opacity: 0.8;
}
table{
    background:white;
}
th{
    background:black;
    color:white;
}
carac.{
    color: black;
}

.btn-default
{
background-color: #7C8683;
color:#FFF;
border-color: #7C8683;
}
.btn-default2
{
background-color: #8869A5;
color:#FFF;
border-color: #8869A5;
text-align: center;
font-size: 15pt;
width: 200px;
height: 45px;
}
.btn-default2:hover {
   color: #FFF;
   background-color: #755A8F;
}

.btnP-almacen{
background-color: #8095ce;
background-image: url('../img/Alm.png');
color:#FFF;
border-color: #ffffff;
width: 150px;
height: 150px;
border-radius: 8px;
}

.btnP-usuario{
background-color: #90c4e9;
background-image: url('../img/Usu.png');
color:#FFF;
border-color: #ffffff;
width: 150px;
height: 150px;
border-radius: 8px;
}

.btnP-ventas{
background-color: #90c4e9;
background-image: url('../img/Ven.png');
color:#FFF;
border-color: #ffffff;
width: 150px;
height: 150px;
border-radius: 8px;
}

.btnP-reportes{
background-color: #90c4e9;
background-image: url('../img/Rep.png');
color:#FFF;
border-color: #ffffff;
width: 150px;
height: 150px;
border-radius: 8px;
}

.btnP-pagos{
background-color: #90c4e9;
background-image: url('../img/Pago.png');
color:#FFF;
border-color: #ffffff;
width: 150px;
height: 150px;
border-radius: 8px;
}

.caja
{
font-size: 36px;
font-weight: bold;
color: #ffffff;
background:#212F3C
}

label{
  display: inline-block;
  width: 80px;
}

.relative1 {
  position: relative;
  left: 450px;
  bottom: 250px;
}

.relative2 {
  position: relative;
  left: 800px;
  bottom: 400px;
}

.relative3 {
  position: relative;
  left: 450px;
  bottom: 300px;
}

.relative4 {
  position: relative;
  left: 800px;
  bottom: 450px;
}