{% extends "comunes/base.html" %}
{% block navbar %}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<Script>
    function eliminar(Id,Producto){
    resp=confirm("¿Estas seguro de eliminar el Detalle de Venta "+  Producto  +" ?");
        if(resp==true){
        location.href="/DetalleVenta/eliminar/"+Id
        }
        return;
    }
</Script>
<h3 class="text text-center"><p class="text-success">Modificar DetalleVenta</p></h3>
    <form action="/DetalleVenta/Modificar" method="post" enctype="multipart/form-data">
         <div class="imput-group " style="padding-left: 320pt;">
              <h3>
                   <label  class="col-sm-2">ID:</label>
                  <input type="number" name="idDetalleVenta" readonly value="{{detven.idDetalleVenta}}" >
                  <br>
                  <br>
                   <label class="col-sm-2">Cantidad:</label>
                   <input type="number" required  name="cantidad" placeholder="Ingrese Cantidad" value="{{detven.cantidad}}" min="1">
                <br>
                <br>
                  <label class="col-sm-2">Precio:</label>
                  <input type="number" required  name="precio" placeholder="Ingrese Precio" value="{{detven.precio}}" min="0">
                <br>
                <br>
                   <label class="col-sm-2">SubTotal:</label>
                   <input type="number" required  name="subTotal" placeholder="Ingrese subtotal" value="{{detven.subTotal}}" min="0" >
                <br>
                <br>

                   <label class="col-sm-2">No.Venta:</label>
                   <input type="number" required  name="idVentas" placeholder="Ingrese No.Venta" value="{{detven.idVentas}}" min="1">
                <br>
                <br>
                  {%if current_user.is_authenticated and current_user.is_administrador() and current_user.is_vendedor%}
                  <label class="col-sm-2">Producto:</label>
                        <select class="form-select" name="producto">
                            <option value="" selected disabled hidden>{{detven.Producto}}</option>
                            <optgroup label="Macetas">
                                <option value="Octagonal">Octagonal</option>
                                <option value="Hexagonal">Hexagonal</option>
                                <option value="Cuadrada">Cuadrada</option>
                                <option value="Redonda">Redonda</option>
                            </optgroup>
                            <optgroup label="Suculentas" >
                                <option value="Echeveria">Echeveria</option>
                                <option value="Escarcha">Escarcha</option>
                                <option value="Jade">Jade</option>
                                <option value="Perforata">Perforata</option>
                                <option value="Sedum">Sedum</option>
                                <option value="Siempreviva">Siempreviva</option>
                                <option value="OrejasShrek">OrejasShrek</option>
                                <option value="GarritaOso}">GarritaOso</option>
                            </optgroup>
                            <optgroup label="Velas">
                                <option value="Vela c">Vela c</option>
                                <option value="Vela g">Vela g</option>
                            </optgroup>
                        </select>

                  {% endif %}
                    <br>
                   <br>
              </h3>
             <br>
         </div>
        <div class="text text-center">

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="submit" class="btn btn-primary btn-lg" role="button"><img src="{{url_for('static',filename='imagenes/save.png')}}"> Modificar</button>
                {% endif %}

                {%if current_user.is_authenticated and current_user.is_administrador()%}
                <button type="button" class="btn btn-danger btn-lg" onclick="eliminar({{detven.idDetalleVenta}},'{{detven.Producto}}')" role="button"><img src="{{url_for('static',filename='imagenes/eliminar.png')}}"> Eliminar</button>
                {% endif %}

             <a class="btn btn-primary btn-lg" href="/DetalleVenta" role="button"><img src="{{url_for('static',filename='imagenes/prev.gif')}}"> Regresar</a>
         </div>
    </form>
     {% if get_flashed_messages() %}
         <div class="alert alert-success alert-dismissible">
             {% for message in get_flashed_messages() %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            {% endfor %}
         </div>
     {% endif %}
{% endblock %}