{% extends "bootstrap/base.html" %}
{% block title %}
Zarket-Sukumaster
{% endblock %}

<!-- Bootstrap -->
{% block styles %}
    {{super()}}
    <link href="{{url_for('static', filename='css/miEstilo.css')}}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}
<!-- Superior -->
{% block body %}

 <script>
        var hoy = new Date();
        var fecha = hoy.getDate() + '-' + ( hoy.getMonth() + 1 ) + '-' + hoy.getFullYear();
        var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds();

        var fechaYHora = fecha + ' ' + hora;

        document.body.innerHTML = "<h2>" + fechaYHora + "</h2>";
    </script>

    <div class="wave" style="height: 120px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-7.05,65.63 C134.02,139.63 296.56,33.05 501.41,74.50 L500.00,0.00 L-4.79,-10.36 Z" style="stroke: none; fill: #9ac3df;"></path></svg></div>
        <div class="jumbotron">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="{{url_for('static',filename='imagenes/planta.jpg')}}" class="img-rounded img-responsive"
                            width="70%">
                    </div>
                    <div class="col-md-8">

                        <h1 class="txt-primary">SUCUMASTER</h1>
                        <p><i>" ENCUENTRA TODO LO QUE NECESITAS "</i></p>

                    </div>
                    <div class="col-md-2">
                        <img src="{{url_for('static',filename='imagenes/planta.jpg')}}" class="img-rounded img-responsive"
                            width="70%">
                </div>
            </div>
        </div>
    </div>

{% block navbar %}

{% endblock %}

{% block content%}

    <main class="container-fluid">
        <h1 class="text text-center">Bienvenido a la Tienda de Artesanias SucuMaster</h1>
        {%block principal %}

        {% endblock %}
    </main>

    {% block footer %}
        <footer class="container-fluid text-center">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{url_for('static',filename='imagenes/logoACC.png')}}">
                </div>
                <div class="col-md-4" style="height: 100px;">
                    <address>
                        <p>
                            Sitio desarrollado por alumnos de la Academia de ISC<br>
                            &copy;Derechos reservados 2022<br>
                            Contacto alumnositesz@accitesz.com <br>
                        </p>


                    </address>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
{% endblock %}

