{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    {{super()}}
    {%if current_user.is_authenticated and current_user.is_admin() %}
    {% endif %}
    <br>
    <br>
    <br>
    <br>

    <br>
    <div style="text-align: left;">
        <a href="/Almacen" class="btn btnP-almacen"  >
        </a>
    </div>
     <div class="relative1">
        <a href="/Usuarios" class="btn btnP-usuario"  >
        </a>
    </div>
    <div class="relative2">
        <a href="/Usuarios" class="btn btnP-ventas"  >
        </a>
    </div>
    <div class="relative3">
        <a href="/Usuarios" class="btn btnP-reportes"  >
        </a>
    </div>
    <div class="relative4">
        <a href="/Usuarios" class="btn btnP-pagos"  >
        </a>
    </div>

{% endblock %}